ChatBot Envios Adresles/🔒CODIGO OTP1.blueprint.json
{
    "name": "CODIGO OTP1",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3334600,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Verificacion tel茅fono"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 58,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "enviar_codigo",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.accion}}",
                                            "b": "enviar_codigo",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.telefono}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "OTP",
                                "scope": "roundtrip",
                                "value": "{{upper(substring(replace(uuid; \"-\"; \"\"); 0; 6))}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "OTP",
                                        "type": "any",
                                        "label": "OTP"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 123645
                            },
                            "mapper": {
                                "key": "{{1.telefono}}",
                                "data": {
                                    "email": "{{1.email}}",
                                    "codigo": "{{2.OTP}}",
                                    "estado": "pendiente",
                                    "nombre": "{{1.nombre}}",
                                    "intentos": "0",
                                    "telefono": "{{1.telefono}}",
                                    "timestamp": "{{now}}",
                                    "expires_at": "{{addMinutes(now; 2)}}"
                                },
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "OTP_Chatbot_envios"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "telefono",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "nombre",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "codigo",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "timestamp",
                                                "type": "date",
                                                "label": null
                                            },
                                            {
                                                "name": "expires_at",
                                                "type": "date",
                                                "label": null
                                            },
                                            {
                                                "name": "estado",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "intentos",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 39,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 70,
                                            "module": "whatsapp-business-cloud:sendTemplateMessage",
                                            "version": 1,
                                            "filter": {
                                                "name": "sin_email",
                                                "conditions": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 0,
                                                    "messages": [
                                                        {
                                                            "category": "setup",
                                                            "severity": "error",
                                                            "message": "Value must not be empty."
                                                        }
                                                    ]
                                                }
                                            }
                                        },
                                        {
                                            "id": 71,
                                            "module": "whatsapp-business-cloud:sendMessage",
                                            "version": 1,
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 0,
                                                    "messages": [
                                                        {
                                                            "category": "setup",
                                                            "severity": "error",
                                                            "message": "Value must not be empty."
                                                        }
                                                    ]
                                                }
                                            }
                                        },
                                        {
                                            "id": 36,
                                            "module": "whapi-cloud:text",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 12537199
                                            },
                                            "mapper": {
                                                "to": "34{{1.telefono}}",
                                                "body": "Hola {{1.nombre}}. Tu c贸digo OTP es {{2.OTP}}. Ingresa este c贸digo en el chat para seguir con la conversaci贸n."
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "whapi-cloud2"
                                                            },
                                                            "label": "My Whapi.Cloud Channel connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:whapi-cloud2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "body",
                                                        "type": "text",
                                                        "label": "Text content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "to",
                                                        "type": "text",
                                                        "label": "Phone number / Chat ID/ Group ID/ Channel ID",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 73,
                                            "module": "airtable:ActionSearchRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 13070671
                                            },
                                            "filter": {
                                                "name": "con_email",
                                                "conditions": []
                                            },
                                            "mapper": {
                                                "base": "appLZCJrpc4v5ONo7",
                                                "table": "tblCdl7AS2hFMmEBi",
                                                "fields": [
                                                    "telefono",
                                                    "nombre",
                                                    "email",
                                                    "direccionhabitual",
                                                    "direccion2",
                                                    "direccion3",
                                                    "direccion4"
                                                ],
                                                "formula": "{telefono} = {{1.telefono}}",
                                                "maxRecords": "1",
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1839,
                                                    "y": 373
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "mode": "chose",
                                                            "label": "Registro Chatbot"
                                                        },
                                                        "sort": {
                                                            "mode": "chose"
                                                        },
                                                        "view": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "table": {
                                                            "mode": "chose",
                                                            "label": "Hoja 1"
                                                        },
                                                        "fields": {
                                                            "mode": "chose",
                                                            "label": [
                                                                "telefono",
                                                                "nombre",
                                                                "email",
                                                                "direccionhabitual",
                                                                "direccion2",
                                                                "direccion3",
                                                                "direccion4"
                                                            ]
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "airtable"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "maxRecords",
                                                        "type": "integer",
                                                        "label": "Limit"
                                                    },
                                                    {
                                                        "name": "sort",
                                                        "spec": [
                                                            {
                                                                "name": "field",
                                                                "type": "select",
                                                                "label": "Field",
                                                                "dynamic": true,
                                                                "options": []
                                                            },
                                                            {
                                                                "name": "direction",
                                                                "type": "select",
                                                                "label": "Direction",
                                                                "options": [
                                                                    {
                                                                        "label": "Descending",
                                                                        "value": "desc"
                                                                    },
                                                                    {
                                                                        "label": "Ascending",
                                                                        "value": "asc"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Sort"
                                                    },
                                                    {
                                                        "name": "view",
                                                        "type": "select",
                                                        "label": "View"
                                                    },
                                                    {
                                                        "name": "fields",
                                                        "type": "select",
                                                        "label": "Output Fields",
                                                        "multiple": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "__IMTLENGTH__",
                                                        "type": "uinteger",
                                                        "label": "Total number of bundles"
                                                    },
                                                    {
                                                        "name": "__IMTINDEX__",
                                                        "type": "uinteger",
                                                        "label": "Bundle order position"
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "telefono",
                                                        "type": "number",
                                                        "label": "telefono"
                                                    },
                                                    {
                                                        "name": "nombre",
                                                        "type": "text",
                                                        "label": "nombre",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "email",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "direccionhabitual",
                                                        "type": "text",
                                                        "label": "direccionhabitual",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "direccion2",
                                                        "type": "text",
                                                        "label": "direccion2",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "direccion3",
                                                        "type": "text",
                                                        "label": "direccion3",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "direccion4",
                                                        "type": "text",
                                                        "label": "direccion4",
                                                        "multiline": true
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 41,
                                            "module": "google-email:sendAnEmail",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 12539003
                                            },
                                            "mapper": {
                                                "to": [
                                                    "{{73.email}}"
                                                ],
                                                "subject": "Codigo OTP env铆os.",
                                                "bodyType": "collection",
                                                "contents": [
                                                    {
                                                        "text": "Hola {{73.nombre}}. Tu c贸digo OTP es {{2.OTP}}. Ingresa este c贸digo en el chat para seguir con la conversaci贸n.",
                                                        "image": {}
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2341,
                                                    "y": 371
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "cc": {
                                                            "mode": "chose"
                                                        },
                                                        "to": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bcc": {
                                                            "mode": "chose"
                                                        },
                                                        "from": {
                                                            "mode": "chose"
                                                        },
                                                        "bodyType": {
                                                            "label": "Collection of contents (text, images, etc.)"
                                                        },
                                                        "contents": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "signature": {
                                                            "mode": "chose"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose"
                                                        },
                                                        "emailHeaders": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google-email"
                                                            },
                                                            "label": "Adresles Gmail (producto@adresles.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google-email",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "to",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true,
                                                            "validate": true
                                                        },
                                                        "type": "array",
                                                        "label": "To",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "subject",
                                                        "type": "text",
                                                        "label": "Subject"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "rawHtml",
                                                                "collection"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "filename",
                                                                    "type": "filename",
                                                                    "label": "File name",
                                                                    "required": true,
                                                                    "semantic": "file:name"
                                                                },
                                                                {
                                                                    "name": "data",
                                                                    "type": "buffer",
                                                                    "label": "Data",
                                                                    "required": true,
                                                                    "semantic": "file:data"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Attachment"
                                                        },
                                                        "type": "array",
                                                        "label": "Attachments"
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "From"
                                                    },
                                                    {
                                                        "name": "cc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "CC recipients"
                                                    },
                                                    {
                                                        "name": "bcc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "BCC recipients"
                                                    },
                                                    {
                                                        "name": "emailHeaders",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "key",
                                                                    "type": "text",
                                                                    "label": "Key",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Value"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Email header"
                                                        },
                                                        "type": "array",
                                                        "label": "Additional email headers"
                                                    },
                                                    {
                                                        "name": "contents",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "text",
                                                                    "type": "text",
                                                                    "label": "Text"
                                                                },
                                                                {
                                                                    "name": "image",
                                                                    "spec": [
                                                                        {
                                                                            "name": "filename",
                                                                            "type": "filename",
                                                                            "label": "File name",
                                                                            "semantic": "file:name"
                                                                        },
                                                                        {
                                                                            "name": "data",
                                                                            "type": "buffer",
                                                                            "label": "Data",
                                                                            "semantic": "file:data"
                                                                        },
                                                                        {
                                                                            "name": "width",
                                                                            "type": "uinteger",
                                                                            "label": "Width"
                                                                        },
                                                                        {
                                                                            "name": "height",
                                                                            "type": "uinteger",
                                                                            "label": "Height"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Image"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Content"
                                                        },
                                                        "type": "array",
                                                        "label": "Body contents"
                                                    },
                                                    {
                                                        "name": "signature",
                                                        "type": "select",
                                                        "label": "Signature content"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 57,
                            "module": "datastore:SearchRecord",
                            "version": 1,
                            "parameters": {
                                "limit": 1,
                                "datastore": 123645,
                                "continueWhenNoRes": false
                            },
                            "filter": {
                                "name": "verificar_codigo",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.accion}}",
                                            "b": "verificar_codigo",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.codigo}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "sort": [],
                                "filter": [
                                    [
                                        {
                                            "a": "telefono",
                                            "b": "{{1.telefono}}",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "estado",
                                            "b": "pendiente",
                                            "o": "text:equal"
                                        }
                                    ]
                                ],
                                "mappAbleLimit": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 900
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "OTP_Chatbot_envios"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module returns no results"
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://datastore/1.12.1/RpcGetUDTKeys",
                                        "required": true
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": [],
                                                "required": true
                                            },
                                            {
                                                "name": "order",
                                                "type": "select",
                                                "label": "Order",
                                                "options": [
                                                    {
                                                        "label": "Ascending",
                                                        "value": 1
                                                    },
                                                    {
                                                        "label": "Descending",
                                                        "value": -1
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "mappAbleLimit",
                                        "type": "uinteger",
                                        "label": "Mappable Limit"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "help": "N煤mero de tel茅fono del usuario",
                                                "name": "telefono",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": true,
                                                "multiline": false
                                            },
                                            {
                                                "help": "Correo electr贸nico del usuario",
                                                "name": "email",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "Nombre del usuario",
                                                "name": "nombre",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "C贸digo OTP generado",
                                                "name": "codigo",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": true,
                                                "multiline": false
                                            },
                                            {
                                                "help": "Fecha/hora en que se gener贸 el c贸digo",
                                                "name": "timestamp",
                                                "type": "date",
                                                "label": null,
                                                "required": true
                                            },
                                            {
                                                "help": "Fecha/hora de caducidad del c贸digo",
                                                "name": "expires_at",
                                                "type": "date",
                                                "label": null,
                                                "required": true
                                            },
                                            {
                                                "help": "Estado del c贸digo (pendiente, verificado, expirado)",
                                                "name": "estado",
                                                "type": "text",
                                                "label": null,
                                                "default": "pendiente",
                                                "required": true,
                                                "multiline": false
                                            },
                                            {
                                                "help": "N煤mero de intentos fallidos de verificaci贸n",
                                                "name": "intentos",
                                                "type": "number",
                                                "label": null,
                                                "default": 0,
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 59,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 900
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 60,
                                            "module": "datastore:UpdateRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 123645
                                            },
                                            "filter": {
                                                "name": "C贸digo v谩lido",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{57.data.codigo}}",
                                                            "b": "{{1.codigo}}",
                                                            "o": "text:equal"
                                                        },
                                                        {
                                                            "a": "{{57.data.expires_at}}",
                                                            "b": "{{now}}",
                                                            "o": "date:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "key": "{{1.telefono}}",
                                                "data": {
                                                    "email": "",
                                                    "codigo": "",
                                                    "estado": "verificado",
                                                    "nombre": "",
                                                    "intentos": "",
                                                    "telefono": "",
                                                    "timestamp": "",
                                                    "expires_at": ""
                                                },
                                                "upsert": true,
                                                "overwriteArrays": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1200,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "upsert": {
                                                            "mode": "chose"
                                                        },
                                                        "overwriteArrays": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "OTP_Chatbot_envios"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "upsert",
                                                        "type": "boolean",
                                                        "label": "Insert missing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "overwriteArrays",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing array in the record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "telefono",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "email",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "nombre",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "codigo",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "timestamp",
                                                                "type": "date",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "expires_at",
                                                                "type": "date",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "estado",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "intentos",
                                                                "type": "number",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 61,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{\r\n  \"resultado\": \"OK\",\r\n  \"mensaje\": \"C贸digo verificado correctamente.\"\r\n}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 63,
                                            "module": "datastore:UpdateRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 123645
                                            },
                                            "filter": {
                                                "name": "C贸digo incorrecto o caducado",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{57.data.codigo}}",
                                                            "b": "{{1.codigo}}",
                                                            "o": "text:notequal"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{57.data.expires_at}}",
                                                            "b": "{{now}}",
                                                            "o": "date:lessorequal"
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            "a": "{{57.data.intentos}}",
                                                            "b": "3",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "key": "{{1.telefono}}",
                                                "data": {
                                                    "email": "",
                                                    "codigo": "",
                                                    "estado": "pendiente",
                                                    "nombre": "",
                                                    "intentos": "{{57.data.intentos + 1}}",
                                                    "telefono": "",
                                                    "timestamp": "",
                                                    "expires_at": ""
                                                },
                                                "upsert": true,
                                                "overwriteArrays": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1200,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "upsert": {
                                                            "mode": "chose"
                                                        },
                                                        "overwriteArrays": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "OTP_Chatbot_envios"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "upsert",
                                                        "type": "boolean",
                                                        "label": "Insert missing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "overwriteArrays",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing array in the record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "telefono",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "email",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "nombre",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "codigo",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "timestamp",
                                                                "type": "date",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "expires_at",
                                                                "type": "date",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "estado",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "intentos",
                                                                "type": "number",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 62,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{\r\n  \"resultado\": \"ERROR\",\r\n  \"mensaje\": \"C贸digo incorrecto o caducado\"\r\n}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 64,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "C贸digo bloqueado",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{57.data.intentos}}",
                                                            "b": "4",
                                                            "o": "number:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "body": "{\r\n  \"resultado\": \"ERROR\",\r\n  \"mensaje\": \"C贸digo bloqueado\"\r\n}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1200,
                                                    "y": 1200
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}