ChatBot Envios Adresles/🔒Stripe.blueprint.json
{
    "name": "🔒Stripe",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3492818,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "STRIPE PAGO G"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 27,
                            "module": "stripe:makeAnApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 12712039
                            },
                            "filter": {
                                "name": "comprobar_pago",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.accion}}",
                                            "b": "comprobar_pago",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "qs": [],
                                "url": "v1/checkout/sessions/{{1.session_id}}?expand[]=payment_intent",
                                "body": "",
                                "method": "GET",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/x-www-form-urlencoded"
                                    },
                                    {
                                        "key": "Authorization",
                                        "value": "Bearer sk_test_51SMtYqCwFRF86AGsxERq8LMgw8B21G8fqf9rfcTV8gEWFB5NPoit5TwFGz4N8Gp3Y8LHbPSyqHgOmLg5AehjMgOm00UXTCEA77"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "stripe"
                                            },
                                            "label": "My Stripe API Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:stripe,stripe2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "parameters": {
                                "else": 1
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 15,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "pago_aceptado",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{27.body.payment_status}}",
                                                            "b": "paid",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "body": "{\r\n  \"status\": \"ok\",\r\n  \"id_pago\": \"{{1.ID_Envio}}\",\r\n  \"session_id\": \"{{1.session_id}}\",\r\n  \"resultado\": \"{{27.body.payment_status}}\",\r\n  \"importe\": \"{{27.body.amount_total / 100}}\",\r\n  \"currency\": \"{{27.body.currency}}\",\r\n  \"payment_intent\": \"{{27.body.payment_intent.id}}\"\r\n}",
                                                "status": "200",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1200,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 39,
                                            "module": "airtable:ActionSearchRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 13070671
                                            },
                                            "mapper": {
                                                "base": "app9O9wpgj8IlCtls",
                                                "table": "tblkvM6A5BEODRMo1",
                                                "fields": [
                                                    "Cod_envio",
                                                    "Remitente_Nombre",
                                                    "Remitente_Teléfono",
                                                    "Remitente_Email",
                                                    "Remitente_Dirección",
                                                    "Destinatario_Nombre",
                                                    "Destinatario_Teléfono",
                                                    "Destinatario_Email",
                                                    "Destinatario_Dirección",
                                                    "Nº_Cajas",
                                                    "Tamaño",
                                                    "Medidas",
                                                    "Peso",
                                                    "Contenido",
                                                    "Pagado",
                                                    "Notificacion",
                                                    "Link de pago"
                                                ],
                                                "formula": "{Cod_envio} = \"{{1.session_id}}\"",
                                                "maxRecords": "1",
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "mode": "chose",
                                                            "label": "EnviosGPT"
                                                        },
                                                        "sort": {
                                                            "mode": "chose"
                                                        },
                                                        "view": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "table": {
                                                            "mode": "chose",
                                                            "label": "EnviosGPT"
                                                        },
                                                        "fields": {
                                                            "mode": "chose",
                                                            "label": [
                                                                "Cod_envio",
                                                                "Remitente_Nombre",
                                                                "Remitente_Teléfono",
                                                                "Remitente_Email",
                                                                "Remitente_Dirección",
                                                                "Destinatario_Nombre",
                                                                "Destinatario_Teléfono",
                                                                "Destinatario_Email",
                                                                "Destinatario_Dirección",
                                                                "Nº_Cajas",
                                                                "Tamaño",
                                                                "Medidas",
                                                                "Peso",
                                                                "Contenido",
                                                                "Pagado",
                                                                "Notificacion",
                                                                "Link de pago"
                                                            ]
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "airtable"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "maxRecords",
                                                        "type": "integer",
                                                        "label": "Limit"
                                                    },
                                                    {
                                                        "name": "sort",
                                                        "spec": [
                                                            {
                                                                "name": "field",
                                                                "type": "select",
                                                                "label": "Field",
                                                                "dynamic": true,
                                                                "options": []
                                                            },
                                                            {
                                                                "name": "direction",
                                                                "type": "select",
                                                                "label": "Direction",
                                                                "options": [
                                                                    {
                                                                        "label": "Descending",
                                                                        "value": "desc"
                                                                    },
                                                                    {
                                                                        "label": "Ascending",
                                                                        "value": "asc"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Sort"
                                                    },
                                                    {
                                                        "name": "view",
                                                        "type": "select",
                                                        "label": "View"
                                                    },
                                                    {
                                                        "name": "fields",
                                                        "type": "select",
                                                        "label": "Output Fields",
                                                        "multiple": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "__IMTLENGTH__",
                                                        "type": "uinteger",
                                                        "label": "Total number of bundles"
                                                    },
                                                    {
                                                        "name": "__IMTINDEX__",
                                                        "type": "uinteger",
                                                        "label": "Bundle order position"
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Cod_envio",
                                                        "type": "text",
                                                        "label": "Cod_envio",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Remitente_Nombre",
                                                        "type": "text",
                                                        "label": "Remitente_Nombre",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Remitente_Teléfono",
                                                        "type": "text",
                                                        "label": "Remitente_Teléfono",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Remitente_Email",
                                                        "type": "text",
                                                        "label": "Remitente_Email",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Remitente_Dirección",
                                                        "type": "text",
                                                        "label": "Remitente_Dirección",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Destinatario_Nombre",
                                                        "type": "text",
                                                        "label": "Destinatario_Nombre",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Destinatario_Teléfono",
                                                        "type": "text",
                                                        "label": "Destinatario_Teléfono",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Destinatario_Email",
                                                        "type": "text",
                                                        "label": "Destinatario_Email",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Destinatario_Dirección",
                                                        "type": "text",
                                                        "label": "Destinatario_Dirección",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Nº_Cajas",
                                                        "type": "text",
                                                        "label": "Nº_Cajas",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Tamaño",
                                                        "type": "text",
                                                        "label": "Tamaño",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Medidas",
                                                        "type": "text",
                                                        "label": "Medidas",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Peso",
                                                        "type": "text",
                                                        "label": "Peso",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Contenido",
                                                        "type": "text",
                                                        "label": "Contenido",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Pagado",
                                                        "type": "text",
                                                        "label": "Pagado",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Notificacion",
                                                        "type": "text",
                                                        "label": "Notificacion",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Link de pago",
                                                        "type": "text",
                                                        "label": "Link de pago"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 40,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 13070671
                                            },
                                            "mapper": {
                                                "id": "{{39.id}}",
                                                "base": "app9O9wpgj8IlCtls",
                                                "table": "tblkvM6A5BEODRMo1",
                                                "record": {
                                                    "fld564mfhsvmEZqnD": "{{39.Contenido}}",
                                                    "fld6EjIJPwZ2oN3Jc": "{{39.`Tamaño`}}",
                                                    "fld6OKvCZPnYfJ9lw": "{{39.Cod_envio}}",
                                                    "fld9M2TINwPNApkNg": "{{39.Medidas}}",
                                                    "fldBzjwN0wNua9F0g": "{{27.body.amount_total / 100}}",
                                                    "fldYBaPG7Yb3rOjux": "{{1.checkout_url}}",
                                                    "fldd3YSdwDWwJYIH9": "{{39.`Remitente_Dirección`}}",
                                                    "fldeG1Fq1cPMo1BSz": "{{39.Remitente_Email}}",
                                                    "fldeOWkVNRy1VCFEc": "{{39.`Nº_Cajas`}}",
                                                    "fldi1dJNGrUKE8e06": "{{39.`Destinatario_Dirección`}}",
                                                    "fldiecfKWjngYeVZX": "{{39.`Remitente_Teléfono`}}",
                                                    "fldjFLfRmBW4Fau23": "{{39.`Destinatario_Teléfono`}}",
                                                    "fldn0zvsHe0WfA0Zp": "{{39.Peso}}",
                                                    "fldw8mTGBtjTunsd7": "{{39.Destinatario_Nombre}}",
                                                    "fldxin4tEtO8xGvFc": "{{39.Remitente_Nombre}}",
                                                    "fldyPqPuGwCFEns0G": "{{39.Destinatario_Email}}"
                                                },
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "EnviosGPT"
                                                        },
                                                        "table": {
                                                            "label": "EnviosGPT"
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "airtable"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fld6OKvCZPnYfJ9lw",
                                                                "type": "text",
                                                                "label": "Cod_envio"
                                                            },
                                                            {
                                                                "name": "fldxin4tEtO8xGvFc",
                                                                "type": "text",
                                                                "label": "Remitente_Nombre"
                                                            },
                                                            {
                                                                "name": "fldiecfKWjngYeVZX",
                                                                "type": "text",
                                                                "label": "Remitente_Teléfono"
                                                            },
                                                            {
                                                                "name": "fldeG1Fq1cPMo1BSz",
                                                                "type": "text",
                                                                "label": "Remitente_Email"
                                                            },
                                                            {
                                                                "name": "fldd3YSdwDWwJYIH9",
                                                                "type": "text",
                                                                "label": "Remitente_Dirección"
                                                            },
                                                            {
                                                                "name": "fldw8mTGBtjTunsd7",
                                                                "type": "text",
                                                                "label": "Destinatario_Nombre"
                                                            },
                                                            {
                                                                "name": "fldjFLfRmBW4Fau23",
                                                                "type": "text",
                                                                "label": "Destinatario_Teléfono"
                                                            },
                                                            {
                                                                "name": "fldyPqPuGwCFEns0G",
                                                                "type": "text",
                                                                "label": "Destinatario_Email"
                                                            },
                                                            {
                                                                "name": "fldi1dJNGrUKE8e06",
                                                                "type": "text",
                                                                "label": "Destinatario_Dirección"
                                                            },
                                                            {
                                                                "name": "fldeOWkVNRy1VCFEc",
                                                                "type": "text",
                                                                "label": "Nº_Cajas"
                                                            },
                                                            {
                                                                "name": "fld6EjIJPwZ2oN3Jc",
                                                                "type": "text",
                                                                "label": "Tamaño"
                                                            },
                                                            {
                                                                "name": "fld9M2TINwPNApkNg",
                                                                "type": "text",
                                                                "label": "Medidas"
                                                            },
                                                            {
                                                                "name": "fldn0zvsHe0WfA0Zp",
                                                                "type": "text",
                                                                "label": "Peso"
                                                            },
                                                            {
                                                                "name": "fld564mfhsvmEZqnD",
                                                                "type": "text",
                                                                "label": "Contenido"
                                                            },
                                                            {
                                                                "name": "fldBzjwN0wNua9F0g",
                                                                "type": "number",
                                                                "label": "Pagado"
                                                            },
                                                            {
                                                                "name": "fldzDeTIqbGxl63Gv",
                                                                "type": "text",
                                                                "label": "Notificacion"
                                                            },
                                                            {
                                                                "name": "fldYBaPG7Yb3rOjux",
                                                                "type": "text",
                                                                "label": "Link de pago"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Cod_envio",
                                                        "type": "text",
                                                        "label": "Cod_envio",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Remitente_Nombre",
                                                        "type": "text",
                                                        "label": "Remitente_Nombre",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Remitente_Teléfono",
                                                        "type": "text",
                                                        "label": "Remitente_Teléfono",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Remitente_Email",
                                                        "type": "text",
                                                        "label": "Remitente_Email",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Remitente_Dirección",
                                                        "type": "text",
                                                        "label": "Remitente_Dirección",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Destinatario_Nombre",
                                                        "type": "text",
                                                        "label": "Destinatario_Nombre",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Destinatario_Teléfono",
                                                        "type": "text",
                                                        "label": "Destinatario_Teléfono",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Destinatario_Email",
                                                        "type": "text",
                                                        "label": "Destinatario_Email",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Destinatario_Dirección",
                                                        "type": "text",
                                                        "label": "Destinatario_Dirección",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Nº_Cajas",
                                                        "type": "text",
                                                        "label": "Nº_Cajas",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Tamaño",
                                                        "type": "text",
                                                        "label": "Tamaño",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Medidas",
                                                        "type": "text",
                                                        "label": "Medidas",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Peso",
                                                        "type": "text",
                                                        "label": "Peso",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Contenido",
                                                        "type": "text",
                                                        "label": "Contenido",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Pagado",
                                                        "type": "number",
                                                        "label": "Pagado"
                                                    },
                                                    {
                                                        "name": "Notificacion",
                                                        "type": "text",
                                                        "label": "Notificacion",
                                                        "multiline": true
                                                    },
                                                    {
                                                        "name": "Link de pago",
                                                        "type": "text",
                                                        "label": "Link de pago"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 16,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "pago_denegado",
                                                "conditions": []
                                            },
                                            "mapper": {
                                                "body": "{\r\n  \"status\": \"ok\",\r\n  \"id_pago\": \"{{1.ID_Envio}}\",\r\n  \"session_id\": \"{{1.session_id}}\",\r\n  \"resultado\": \"{{27.body.payment_status}}\",\r\n  \"mensaje\": \"❌ Ha habido un problema con el pago.\"\r\n}",
                                                "status": "200",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1200,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "stripe:makeAnApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 12712039
                            },
                            "filter": {
                                "name": "generar_link",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.accion}}",
                                            "b": "generar_link",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "qs": [],
                                "url": "v1/checkout/sessions",
                                "body": "mode=payment&success_url=https%3A%2F%2Ftuservidor.com%2Fpago-exitoso%3Fid%3D{{1.ID_Envio}}%26session_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=https%3A%2F%2Ftuservidor.com%2Fpago-cancelado%3Fid%3D{{1.ID_Envio}}&line_items[0][price_data][currency]=eur&line_items[0][price_data][product_data][name]=Envío de {{1.Contenido}} con {{1.Empresa}} ({{1.Modalidad}})&line_items[0][price_data][unit_amount]={{1.Precio}}&line_items[0][quantity]=1&payment_intent_data[metadata][envio_id]={{1.ID_Envio}}&client_reference_id={{1.ID_Envio}}&metadata[envio_id]={{1.ID_Envio}}&customer_email={{1.Remitente_Email}}",
                                "method": "POST",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/x-www-form-urlencoded"
                                    },
                                    {
                                        "key": "Authorization",
                                        "value": "Bearer sk_test_51SMtYqCwFRF86AGsxERq8LMgw8B21G8fqf9rfcTV8gEWFB5NPoit5TwFGz4N8Gp3Y8LHbPSyqHgOmLg5AehjMgOm00UXTCEA77"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "stripe"
                                            },
                                            "label": "My Stripe API Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:stripe,stripe2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\r\n  \"status\": \"ok\",\r\n  \"checkout_url\": \"{{6.body.url}}\",\r\n  \"session_id\": \"{{6.body.id}}\",\r\n  \"id_pago\": \"{{1.ID_Envio}}\"\r\n}",
                                "status": "200",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}